{% extends 'base.html.twig' %}

{% block title %}Products - show{% endblock %}

{% block body %}
    <h1>Person's Products Preferences - {{ subtitle(bias) }}</h1>

    <a href="{{ path('person.show_all') }}">&nbspPersons&nbsp</a>

    <a href="{{ path('person.product.show', {'personId': person_id, 'bias': switch_bias(bias)}) }}">&nbsp{{ switch_subtitle(bias) }}&nbspProducts&nbsp</a>

    <div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>&nbspn°&nbsp</th>

                    <th>&nbspName&nbsp</th>
                    <th>&nbspInfo&nbsp</th>
                    <th>&nbspPublic date&nbsp</th>
                    <th></th>

                </tr>
                </thead>
            </table>
        </div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>&nbsp{{ loop.index }}&nbsp</td>

                        <td>&nbsp{{ product.name }}&nbsp</td>
                        <td>&nbsp{{ product.info }}&nbsp</td>
                        <td>&nbsp{{ product.public_date|date("Y-m-d") }}&nbsp</td>

                        <td><a href="{{ path('person.product.edit', {'personId': person_id, 'productId': product.id, 'bias': switch_bias(bias)}) }}">&nbspChange preference&nbsp</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>



{% endblock %}
