{% extends 'base.html.twig' %}

{% block title %}Products - show{% endblock %}

{% block body %}
    <h1>Products - show</h1>
    <button><a href="{{ path('product.add') }}">&nbspAdd product&nbsp</a></button><br>
    <a href="{{ path('person.show_all') }}">&nbspPersons&nbsp</a><br>

    <a href="{{ path('product.show_all') }}">&nbspAll&nbsp</a>
    <a href="{{ path('person.product.filter', {'bias': 1}) }}">&nbspLiked&nbsp</a>
    <a href="{{ path('person.product.filter', {'bias': 2}) }}">&nbspIgnored&nbsp</a><br><br>

    <div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>&nbspn°&nbsp</th>

                    <th>&nbspName&nbsp</th>
                    <th>&nbspInfo&nbsp</th>
                    <th>&nbspPublic date&nbsp</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
            </table>
        </div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>&nbsp{{ loop.index }}&nbsp</td>

                        <td>&nbsp{{ product.name }}&nbsp</td>
                        <td>&nbsp{{ product.info }}&nbsp</td>
                        <td>&nbsp{{ product.public_date|date("Y-m-d") }}&nbsp</td>

                        <td><a href="{{ path('product.edit', {'id': product.id}) }}">&nbspEdit&nbsp</a></td>
                        <td><a href="{{ path('product.remove', {'id': product.id}) }}">&nbspRemove&nbsp</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
