{% extends 'base.html.twig' %}

{% block title %}Product - add{% endblock %}

{% block body %}
    <h1>Product - add</h1>

    {{ form_start(form, {'action': path('product.add'), 'method': 'POST'}) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.name, {'label': 'Name'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.info, {'label': 'Info'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.publicDate, {'label': 'Public date'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.submit, { 'label': 'Add' }) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

