{% extends 'base.html.twig' %}

{% block title %}Person - add{% endblock %}

{% block body %}
    <h1>Person - add</h1>

    {{ form_start(form, {'action': path('person.add'), 'method': 'POST'}) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.login, {'label': 'Login'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.fName, {'label': 'First name'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.lName, {'label': 'Last name'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.state, {'label': 'State'}) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.submit, { 'label': 'Add' }) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

