{% extends 'base.html.twig' %}

{% block title %}Persons - show{% endblock %}

{% block body %}
    <h1>Persons - show</h1>
    <button><a href="{{ path('person.add') }}">&nbspAdd person&nbsp</a></button><br>
    <a href="{{ path('product.show_all') }}">&nbspProducts&nbsp</a><br>

    <a href="{{ path('person.show_all') }}">&nbspAll&nbsp</a>
    <a href="{{ path('person.show_by_state', {'state': 1}) }}">&nbspActive&nbsp</a>
    <a href="{{ path('person.show_by_state', {'state': 2}) }}">&nbspBanned&nbsp</a>
    <a href="{{ path('person.show_by_state', {'state': 3}) }}">&nbspRemoved&nbsp</a><br><br>

    <div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>&nbspn°&nbsp</th>

                    <th>&nbspLogin&nbsp</th>
                    <th>&nbspFirst name&nbsp</th>
                    <th>&nbspLast name&nbsp</th>
                    <th>&nbspState&nbsp</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
            </table>
        </div>

        <div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for person in persons %}
                    <tr>
                        <td>&nbsp{{ loop.index }}&nbsp</td>

                        <td>&nbsp{{ person.login }}&nbsp</td>
                        <td>&nbsp{{ person.fName }}&nbsp</td>
                        <td>&nbsp{{ person.lName }}&nbsp</td>
                        <td>&nbsp{{ attribute(states, person.state) }}&nbsp</td>

                        <td><a href="{{ path('person.product.show', {'personId': person.id, 'bias': 1}) }}">&nbspProducts preferences&nbsp</a></td>
                        <td><a href="{{ path('person.edit', {'id': person.id}) }}">&nbspEdit&nbsp</a></td>
                        <td><a href="{{ path('person.remove', {'id': person.id}) }}">&nbspRemove&nbsp</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
